<mat-nav-list>
    <div class="logo-py-4">
        <a routerLink="/dashboard"><img src="../../assets/images/Color1.svg" alt="application logo"></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">VIEWS</h2>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
            <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item routerLink="/mountains" routerLinkActive="list-item-active">
            <mat-icon>view_module</mat-icon> Mountains
        </a>
        <a mat-list-item routerLink="/map" routerLinkActive="list-item-active">
            <mat-icon>map</mat-icon> Map
        </a>
        <a mat-list-item routerLink="/comparison-matrix" routerLinkActive="list-item-active">
            <mat-icon>view_column</mat-icon> Compare Resorts
        </a>
</mat-nav-list>

