<!--
<div class="sort-filter">
  <div id="sort">
    <h4>Sort <fa-icon [icon]="chevronDown"></fa-icon></h4>
    <button>Vertical</button>
    <button>Distance</button>
  </div>
  <div id="filter">
    <h4>Filter <fa-icon [icon]="chevronDown"></fa-icon></h4>
    <button>Epic</button>
    <button>Ikon</button>
    <button>Indy</button>
  </div>
</div>
-->
<div class="container">
    <ul class="mountains">
      <li *ngFor="let mountain of mountains">
        <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title class="card-title">{{mountain.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://dam-assets.vailresorts.com/is/image/vailresorts/CM_Winter_11?resMode=sharp2&wid=400&fit=constrain,1&dpr=on,2" alt="testing with logo" >
        <mat-card-content>
          <p>{{mountain.address}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/detail/{{mountain.id}}">see more <fa-icon [icon]="chevronDown"></fa-icon></a>
        </mat-card-actions>
      </mat-card>
     </li>
    </ul>
</div>

<!--
<div
  style="position: fixed; bottom: 0; height: 55px; width: 100%; background-color: white; border-top: 1px solid #b4b4b4; display: flex; justify-content: flex-end; align-items: flex-end;">
  <a routerLink="/comparison-matrix"><button>Compare Mountains</button>></a>
</div>
-->
