<button type="button" (click)="goBack()">go back</button>

<div class="detail-container">
<div *ngIf="mountain">
    <h2 >{{mountain.name | uppercase}} Details</h2>
    <div >
      <p class="mountain-detail"><strong>Mountain name: </strong>{{mountain.name}}</p>
      <p class="mountain-detail"><strong>Vertical: </strong>{{mountain.vertical}} ft</p>
      <p class="mountain-detail"><strong>Resort address: </strong>{{mountain.address}}</p>
      <p class="mountain-detail"><strong>Skiable area: </strong>{{mountain.skiableArea}} acres </p>
      <p class="mountain-detail"><strong>Gps coordinates: </strong>{{mountain.coordinates.latitude}}, {{mountain.coordinates.longitude}}</p>
    </div>
  </div>
</div>