<button type="button" class="back-btn" (click)="goBack()">
  <fa-icon [icon]="chevronLeft"></fa-icon> go back
</button>

<div class="detail-container">
  <div *ngIf="mountain">
      <h2>{{mountain.name | uppercase}} Details</h2>

    <div class="detail-section">
      <div id="img-container">
        <img src="{{mountain.imgUrl}}" height="auto" width="100%">
      </div>
      <div id="stats-container">
        <p class="mountain-detail"><strong>Mountain name: </strong>{{mountain.name}}</p>
        <p class="mountain-detail"><strong>Major seasonpass: </strong>{{mountain.seasonpass}}</p>
        <p class="mountain-detail"><strong>Average annual snow: </strong>{{mountain.avgAnnualSnow}} inches</p>
        <p class="mountain-detail"><strong>Snowmaking: </strong>{{mountain.snowmaking}}</p>
        <p class="mountain-detail"><strong>Skiable area: </strong>{{mountain.skiableArea}} acres </p>
        <p class="mountain-detail"><strong>Vertical: </strong>{{mountain.vertical}} ft</p>
        <p class="mountain-detail"><strong>Total trails: </strong>{{mountain.totalTrails}}</p>
        <p class="mountain-detail"><strong>Total lifts: </strong>{{mountain.lifts}}</p>
        <p class="mountain-detail"><strong>Number of terrain parks: </strong>{{mountain.terrainParks}}</p>
        <p class="mountain-detail"><strong>Nightskiing available? </strong>{{mountain.nightSkiing}}</p>
        <p class="mountain-detail"><strong>Website: </strong><a href="{{mountain.siteUrl}}">{{mountain.siteUrl}}</a></p>
        <p class="mountain-detail"><strong>Resort address: </strong>{{mountain.address}}</p>
      </div>
    </div>
  </div>
</div>